* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: aliceblue;
}

main {
    padding: 20px;
    border: solid 1px gray;
    box-shadow: 1px 1px 3px gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
}

.logo-img {
    width: 100px;
}

main h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    width: 100%;
}

.group-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}

.group-input input {
    padding: 5px;
    border: solid 1px gray;
    border-radius: 4px;
    transition: all 100ms;
}

.group-input input:focus {
    outline: solid 3px skyblue;
}

.login-btn {
    width: 100%;
    padding: 8px 0px;
    border-radius: 4px;
    border: none;
    background-color: #113F67;
    color: #fff;
    font-weight: bold;
}

.crimson {
    background-color: #ff89a1;
    color: crimson;
    border: solid 1px crimson;
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.green {
    background-color: #87ff87;
    color: #00a900;
    border: solid 1px #00a900;
    padding: 10px 15px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}