* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Agar propertie width & height tidak dipengaruhi oleh padding */
}

.main_nav {
    width: 100vw;
    background-color: #113F67;
    display: flex; /* Merubah sifat element menjadi flex (flexible) */
    justify-content: space-between; /* Menentukan posisi dari child element pada garis horizontal */
    /**/
    /* padding: 10px; */
}

.nav_menu {
    display: flex;
    gap: 20px; /* Hanya bisa digunakan ketika dispaly memiliki value flex */
    align-items: center; /* Menentukan posisi dari child element pada garis vertical */
    color: #fff;
    font-family: sans-serif;
}

.nav_menu li {
    list-style: none;
    padding: 26px 10px;
}

.nav_menu li a { /* Spasi pada selector digunakan untuk mengambil child element */
    text-decoration: none;
    color: #fff;
}

.nav_menu li:hover { /* pseudo class */
    background-color: #34699A;
}

.main_nav img {
    width: 60px;
    margin: 10px;
}

.main-header {
    width: 100%;
    font-family: sans-serif;
    height: 600px;
    /* background-color: #34699A; */
    display: flex;
    flex-direction: column; /* Hanya bisa digunakan ketika menggunakan display dengan value flex */
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    background-image: url("./shinobu-kocho-demon-slayer-insect-hashira-4k-wallpaper-uhdpaper.com-913@5@g.jpg");
    background-size: cover;
    color: #fff;
}
.main-header h1 {
    font-size: 60px;
}
.main-header p {
    width: 800px;
    margin-bottom: 50px;
}
.main-header a {
    background-color: #113F67;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #FDF5AA;
    font-size: large;
    border-radius: 8px;
    text-decoration: none;
    transition: all 300ms; /* propertie durasi animasi */
    /* transition-property: ;
    transition-duration: ;
    transition-behavior: ; */
    box-shadow: 1px 1px 3px gray; /* x y blur color */
}

.main-header a:hover {
    background-color: #34699A;
    transform-origin: left; /* Titik rotasi */
    transform: rotate(60deg);
    /* transform-style: ; */
    /*
    scale(desimal) : 1.5, 0.2, 0.1
    translate(px) : 100px, 200px, 300px
    rotate(deg) : 90deg, 30deg
    */
}

.card-group {
    width: 300px;
    background-color: #58A0C8;
    box-shadow: 1px 1px 3px #00000068;
    border-radius: 4px; /* Kenapa ada border radius? */
    /* Biar ujung kotaknya ga lancip */
    overflow: hidden; /* untuk menyembuyikan element yang melebihi ukuran dari card-group */ 
}
.card-group img {
    width: 400px;
    /* border-radius: 4px 4px 0 0; kiri-atas kanan-atas kanan-bawah kiri-bawah */
}
.card-group h3 {
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    /* margin: 10px; */
    /* background-color: #FDF5AA; */
}
.card-group p {
    font-family: sans-serif;
    padding: 10px;
    text-align: justify;
}
.card-group a {
    padding: 10px;
    background-color: #FDF5AA;
    color: #113F67;
    display: inline-block;
    margin: 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 3px #00000068;
}

.section-card {
    padding: 50px;
}

.section-card h2 {
    font-family: sans-serif;
    color: #113F67;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}


.layout-card {
    display: flex; /* Akan membuat child elementnya menjadi ke samping */
    gap: 50px; /* Hanya bisa digunakan ketika kita, menggunakan display: flex / grid; */
    justify-content: space-evenly; /* Hanya bisa digunakan ketia menggunakan display: flex; */
    /* Memilih posisi dari child element di garis horizontal | opsi value: start, end, center, space-between, space-around, space-evenly */
    align-items: center; /* Hanya bisa digunakan ketika menggunakan display: flex; */
    /* Memilih posisi dari child element di garis vertical opsi value: start, center, end */

}